* {
    box-sizing: border-box;
}

h1 {
    margin-bottom: 30px;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

#box {
    background-color: blue;
    padding: 10px 30px 10px 30px;
    border: 20px solid black;
    margin: 40px;
    width: 300px;
}

#content {
    background-color: rgb(129, 255, 181);
}